.jumbotron.jumbotron-fluid{
    background: none;
    margin: auto;
    position: fixed;
    top: 40%;
    width: 100%;
}

.button{
    border-radius: 1rem;
    margin-left: 47%;
    position: fixed;

}