html{
    font-size: 62.5%
}


// body{
//     background:url('../../images/stories.jpg');
//     background-repeat: no-repeat;
//     background-position: center center;
//     background-size: cover;
//     font-family: Helvetica, Arial, sans-serif;
//     font-size: $m-size
// }

button{
    cursor: pointer;
    border-radius: 1rem;
    position: absolute;
    
}

button:disabled{
    cursor: defualt
}

